doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh' crossorigin='anonymous')
  link(rel='stylesheet' href='cart.css')
  title Billing
nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='/') Store

section
  .container
    .row
      .col-lg-4.col-md-6
        h1 Total: $ #{total}
      .col-lg-6.col-md-12
        h2 Billing
        form(method="POST", action="/pay")
          .form-group
            .row
              .col
                input(type="hidden" name="total" value=`${total}`)
                input.form-control(type='text' placeholder='First name' name="firstName" required)
              .col
                input.form-control(type='text' placeholder='Last name' name="lastName" required)
          .form-group
            .row
              .col
                input.form-control(type='email' placeholder='Email' name="email" required)
          .form-group
            .row
              .col
                input.form-control(type='text' placeholder='Address' name="address" required)
              .col
                input.form-control(type='text' placeholder='City' name="city" required)
          .form-group
            .row
              .col
                input.form-control(type='text' placeholder='State' name="state" required)
              .col
                input.form-control(type='text' placeholder='Country' name="country" required)
          .form-group
            .row
              .col
                input.form-control(type='text' placeholder='Card Number' required)
          .form-group
            .row
              .col
                input.form-control(type='month' placeholder='Expiration Date' required)
              .col
                input.form-control(type='text' placeholder='CVV' required)
          h2 Shipping
            .form-group.form-check
              .row
                .col
                  input#billingCheckBox.form-check-input(type="checkbox") 
                  label.form-check-label.custom-checkbox Same as Billing
            #billing
              .form-group
                .row
                  .col
                    input.form-control(type='text' placeholder='First name')
                  .col
                    input.form-control(type='text' placeholder='Last name')
              .form-group
                .row
                  .col
                    input.form-control(type='email' placeholder='Email')
              .form-group
                .row
                  .col
                    input.form-control(type='text' placeholder='Address')
                  .col
                    input.form-control(type='text' placeholder='City')
              .form-group
                .row
                  .col
                    input.form-control(type='text' placeholder='State')
                  .col
                    input.form-control(type='text' placeholder='Country')
            .form-group
              .row
                .col 
                  button.pay-btn(href='success') Pay
         




script(src='https://code.jquery.com/jquery-3.4.1.min.js' integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js' integrity='sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js' integrity='sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6' crossorigin='anonymous')
script(src='cart.js')
